button {
    background-color: #009705;
    width: 100%;
    color: white;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

form {
    margin-top: 25px;
}

input[type=text],
input[type=password],
select {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid green;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}

.container {
    position: relative;
    padding: 25px;
    width: 400px;
    margin-left: 30%;
    background-color: lightblue;
}