<form #form="ngForm" (ngSubmit)="form.valid && sendResetLink()">
    <div class="container">
        <div class="heading">Reset Password</div>
        <div>
            <label>Email Address : </label>
            <input type="text" placeholder="Enter Username" name="username" [(ngModel)]="emailAddress" #email="ngModel" emailValidator required autocomplete="off">
            <div *ngIf="email.touched" class="error-message">
                <span *ngIf="email.errors?.required">Email Address is required</span>
                <span *ngIf="email.errors?.invalidEmail">Invalid Email address</span>
            </div>
        </div>

        <div>
            <button type="submit">Send Reset Link</button>
        </div>
    </div>
</form>