ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: rgb(11, 115, 235);
}

li {
    margin-top: 5px;
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(15, 76, 247);
}


/* drop down css */

.dropbtn {
    background-color: rgb(11, 115, 235);
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(11, 115, 235);
}