<nav>
    <ul *ngIf="!isLoggedIn">
        <li>
            <a routerLink="login">Login</a>
        </li>
        <li>
            <a routerLink="register">Register</a>
        </li>
    </ul>

    <ul *ngIf="isLoggedIn && !isDoctor">
        <li>
            <a routerLink="patient">My Appointments</a>
        </li>
        <li>
            <a routerLink="patient/book-appointment">book-appointment</a>
        </li>
    </ul>

    <ul *ngIf="isLoggedIn && isDoctor">
        <li>
            <a routerLink="doctor">Doctor Appointments</a>
        </li>
        <li>
            <a routerLink="doctor/requests">Appointment Request</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>