table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(odd) {
    background-color: #382e2e6e;
}

table tr:hover {
    background-color: #ddd;
}