table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(odd) {
    background-color: #382e2e6e;
}

table tr:hover {
    background-color: #ddd;
}


/* dropdown */

.dropbtn {
    background-color: rgb(11, 115, 235);
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(11, 115, 235);
}